html,
body {
    height: 100%;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}

#footer {
    height: 30px;
}

#push {
    height: 45px;
}

#footer { }

@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.center-box {
    margin: 60px auto 0 auto;
    width: 600px;
    float: none;
}

.indented-top {
    margin-top: 60px;
}

.content {
    width: 1200px;
    margin: 0 auto;
    float: none;
}

#wrap .content {
    padding-top: 20px;
}

.table td.text-middle {
    vertical-align: middle;
}

div.text-middle {
    padding: 5px 0;
}

.relative-container {
    position: relative;
}

.relative-container .bottom {
    position: absolute;
    bottom: 0;
}

.top-bottom-margin {
    margin: 20px 0;
}

.redas-menu {
    width: 240px;
}

.cards-table {
    width: 900px;
}