<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prices.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.file-input.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="wrap">
    <div class="container-fluid content">
        {% block content %}{% endblock %}
    </div>
    <div id="push"></div>
</div>
<div id="footer">
    <div class="content text-center muted">
        Copyright &copy; 2013
        <a href="mailto:pavel.ritikov@gmail.com">wurdum</a>
    </div>
</div>
</body>
</html>