<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/prices.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-responsive.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.10.0.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.file-input.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div id="wrap">
    <div class="container-fluid content">
        {% block content %}{% endblock %}
    </div>
    <div id="push"></div>
</div>
<div id="footer">
    <div class="content text-center muted">
        Copyright &copy; 2013
        <a href="mailto:pavel.ritikov@gmail.com">wurdum</a>
    </div>
</div>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37059133-1']);
  _gaq.push(['_setDomainName', 'wurdum.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>