{% extends 'base.html' %}
{% block content %}
    <p>
        <a class="btn btn-info pull-right" href="{{ url_for('spellshop_update') }}">Update</a>
        <span class="clearfix"></span>
    </p>
    <ul class="nav nav-list redas-menu pull-left">
        <li class="active"><a href="#"><i class="icon-home icon-white"></i> All</a></li>
        <li class="divider"></li>
        {% for reda in redas %}
        <li><a href="#">{{ reda.name }}</a></li>
        {% endfor %}
    </ul>
    {% block cards_table %}{% endblock %}
{% endblock %}