{% extends 'base.html' %}
{% block content %}
    <div class="pull-left span6">
        <p class="lead text-center">SpellShop</p>
    </div>
    <div class="pull-right span6">
        <p class="lead text-center">BuyMagic</p>
    </div>
    <table class="table table-bordered table-striped pull-left span6">
        <thead>
        <tr>
            <th rowspan="2">name</th>
            <th colspan="1">tcg</th>
            <th colspan="1">spellshop</th>
            <th rowspan="2">diff</th>
        </tr>
        <tr>
            <th>avg price</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        {% for card in cards_spellshop %}
            <tr>
                {% set shop_offer = card.shops['spellshop'] %}
                <td class="text-middle"><strong><a href="{{ card.info.url }}">{{ card.name }}</a></strong></td>
                <td class="text-center text-middle"><a href="{{ card.prices.url }}">${{ '%0.2f'|format(card.prices.avg) }}</a></td>
                <td class="text-center text-middle"><a href="{{ shop_offer.url }}">${{ '%0.2f'|format(shop_offer.price) }}</a></td>
                <td class="text-center text-middle">{{ '%0.2f'|format(shop_offer.overpay*100) }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <table class="table table-bordered table-striped pull-right span6">
        <thead>
        <tr>
            <th rowspan="2">name</th>
            <th colspan="1">tcg</th>
            <th colspan="1">spellshop</th>
            <th rowspan="2">diff</th>
        </tr>
        <tr>
            <th>avg price</th>
            <th>price</th>
        </tr>
        </thead>
        <tbody>
        {% for card in cards_buymagic %}
            <tr>
                {% set shop_offer = card.shops['buymagic'] %}
                <td class="text-middle"><strong><a href="{{ card.info.url }}">{{ card.name }}</a></strong></td>
                <td class="text-center text-middle"><a href="{{ card.prices.url }}">${{ '%0.2f'|format(card.prices.avg) }}</a></td>
                <td class="text-center text-middle"><a href="{{ shop_offer.url }}">${{ '%0.2f'|format(shop_offer.price) }}</a></td>
                <td class="text-center text-middle">{{ '%0.2f'|format(shop_offer.overpay*100) }}%</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pull-left span6 text-middle">
        <p class="text-right"><a href="{{ url_for('shop', shop='spellshop') }}">More spellshop cards &raquo;</a></p>
    </div>
    <div class="pull-right span6 text-middle">
        <p class="text-right"><a href="{{ url_for('shop', shop='buymagic') }}">More buymagic cards &raquo;</a></p>
    </div>
{% endblock %}