{% extends 'base.html' %}
{% block content %}
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th rowspan="2" class="span3">name</th>
            <th rowspan="2">redaction</th>
            <th rowspan="2" class="span9">description</th>
            <th colspan="3">price</th>
        </tr>
        <tr>
            <th>low</th>
            <th>mid</th>
            <th>high</th>
        </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td>
                    {% set anchor = card.name|urlencode %}
                    <p><a href="#{{ anchor }}" name="{{ anchor }}">{{ card.name }} [{{ card.number }}]</a></p>
                    <small><a href="{{ card.info.url }}">at Magiccards</a></small><br/>
                    <small><a href="{{ card.prices.url }}">at TCGPlayer</a></small>
                </td>
                <td class="text-center text-middle">{{ card.redaction }}</td>
                <td>
                    <div class="well well-small">
                        {% for line in card.info.description %}
                            <small>{{ line }}</small><br/>
                        {% endfor %}
                    </div>
                </td>
                <td class="text-center text-middle">${{ '%0.2f'|format(card|price('low')) }}</td>
                <td class="text-center text-middle">${{ '%0.2f'|format(card|price('mid')) }}</td>
                <td class="text-center text-middle">${{ '%0.2f'|format(card|price('high')) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}